<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>

<main class="container">
    <form th:action="@{/profile/login}" method="post">
        <div class="form-container">
            <h1>Login</h1>
            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
            <div>
                <label for="username">Email / Brugernavn:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div>
                <label for="password">Adgangskode:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Log ind</button>
        </div>
    </form>
</main>
</body>
</html>