<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Dine ønskelister</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
<nav th:replace="~{fragments/fragments :: navbar}"></nav>
<main class="container">
    <div class="Wishlists-header">
        <h1>Dine ønskelister</h1>
        <a th:href="@{/wishlists/create}">
            <button class="btn-link-primary" type="button">Opret ny ønskeliste</button>
        </a>
    </div>
    <div class="WishlistCard-container">
        <div th:if="${!wishlists.isEmpty()}" th:each="wishlist : ${wishlists}" class="WishlistCard">
            <div class="wishlist-hero-image-wrapper">
                <a th:href="@{/wishlists/{id}(id=${wishlist.id})}">
                    <img th:if="${wishlist.imageUrl != null and !#strings.isEmpty(wishlist.imageUrl)}"
                         th:src="${wishlist.imageUrl}"
                         th:alt="${wishlist.name}"
                         class="wishlist-hero-image">
                </a>
                <div th:if="${wishlist.imageUrl == null or #strings.isEmpty(wishlist.imageUrl)}" class="wishlist-hero-placeholder">
                    <span>Intet billede fundet</span>
                </div>
            </div>
            <h2 th:text="${wishlist.name}">Ønskeliste Navn</h2>
            <p th:text="${wishlist.itemCount} + ' Ønsker'">Antal gaver: 0</p>
            <a th:href="@{/wishlists/{id}(id=${wishlist.id})}">
                <button class="btn-link-primary" type="button">Se detaljer</button></a>
        </div>
    </div>

    <div class="no-wishlists" th:if="${wishlists.isEmpty()}">
        <h2>Du har ingen ønskelister endnu.</h2>
        <p>Klik på knappen nedenfor for at oprette din første ønskeliste!</p>
    </div>

    <div class="button-row-10 justify-center">

    </div>
</main>
<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>